#info .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
}

#info .info-content .amount {
    font-weight: 800;
    font-size: 40px;
}

#info .info-content .type {
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 30px;
}

#info .wrapper {
    position: relative;
}

#info .bg-element2 {
    position: absolute;
    top: 0;
    left: 0;
}